src/database/database.xsd

<?xml version="1.0" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Schule">
        <xs:complexType>
            <xs:all>
                <xs:element ref="Klassen" minOccurs="1" maxOccurs="1"/>
            </xs:all>
        </xs:complexType>
    </xs:element>

    <xs:element name="Klassen">
        <xs:complexType>
            <xs:sequence>
                    <xs:element name="Klasse" type="xs:string" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
